<div class="col-xs-12 back">
    <div class="col-xs-offset-3 col-xs-6 homewrap">
        <i class="fa fa-grav homelogo col-xs-offset-3 col-xs-6" aria-hidden="true"></i>
        <p class="col-xs-12 hometext">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquid aperiam aspernatur
            consectetur cumque dicta dignissimos, dolor dolorem dolores ducimus ea eos illum maiores maxime
            nulla odio possimus quas sequi sint tempora. Aspernatur deserunt molestiae perspiciatis provident
            quasi suscipit ut.</p>
        <a ui-sref="main.goods"><button type="button" class="col-xs-offset-3 col-xs-6 btn btn-success homebtn">View Goods</button></a>
    </div>
</div>